.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.timerScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.controls {
  display: flex;
}

.controlButton {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
}

.controlButton:hover {
  background-color: #0056b3;
}

.settingsButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
}

.settingsButton:hover {
  background-color: #0056b3;
}

.timerButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.timerButton:focus {
  outline: none;
}
